/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .footer h3 {
    color: #ffa500;
    margin-bottom: 20px;
  }
  
  .footer p {
    color: #fff;
    margin: 0;
  }
  
  .footer-left {
    flex-basis: 40%;
  }
  
  .footer-center {
    flex-basis: 30%;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    flex-basis: 30%;
  }
  
  .social-icons {
    display: flex;
  }
  
  .icon {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
  }

/* Footer.css */

/* Existing styles */

.icon-list {
  list-style: none;
  padding: 0;
}

.icon-list li {
  margin-bottom: 10px; /* Add spacing between icons */
}

/* Remove text decorations and change color on hover */
.icon-list a {
  text-decoration: none;
  color: inherit; /* Preserve the original text color */
  transition: color 0.3s ease; /* Add a smooth transition effect */
  display: flex; /* Align icon and text vertically */
  align-items: center; /* Center icon and text horizontally */
}

.icon-list a:hover {
  color: #ffa500; /* Change color on hover to orange */
}

/* Style for the icons */
.icon-list .fab {
  font-size: 24px; /* Adjust the size as needed for the icons */
  margin-right: 10px; /* Add spacing between icon and text */
}

/* Style for the text content */
.icon-list .social-text {
  font-size: 14px; /* Change the font size for the text content */
}


  
.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

/* Remove text decorations and change color on hover */
.footer-bottom a {
  text-decoration: underline;
  color: inherit; /* Preserve the original text color */
  transition: color 0.3s ease; /* Add a smooth transition effect */
}

.footer-bottom a:hover {
  color: #ffa500; /* Change color on hover to orange */
}
  
 /* Responsive styles (inside the existing media query) */
@media screen and (max-width: 768px) {
  
  .footer-content {
    flex-direction: column;
    margin-left: 20px;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    flex-basis: 100%;
    margin-bottom: 20px; /* Maintain the margin for small screens */
  }

  .footer-bottom {
    margin-top: 40px;
  }
}