.main-container {
  display: flex;
}

.map-container {
  flex: 1; /* Make the map container take up the remaining available space */
  height: 100vh; /* Set the height of the map container to fill the viewport height */
}

.cards-container {
  flex: 1; /* Allow the cards container to take up the remaining space */
  overflow-y: auto; /* Enable vertical scrolling for the card container */
  padding: 20px; /* Add padding for spacing */
}
.d-flex{
    width: 80%;
    height: 30%;
    border: #fff;
    border-radius: 2%;
    background-color: #fff;
    margin: 4px;
    border: 3px solid #fff;
}

.col-4{
    float: left;
   
    margin-right: 10px;
}
.col-3 {
    float: right;
    width: 50%;
    margin-right: 0px;
    
}
.side-page {
    position: absolute;
    top: 60;
    left: 0;
    width: 400px;
    /* height: 100vh; */
    /* background-color:  #DCDCDC; */
    /* Add any other styling you need */
  }

  .search-container {
    display: flex;
  }

  .calendly-inline-widget {
    min-width:320px;
    height:700px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
  }
  
  button[type="submit"] {
    padding: 10px 15px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  