.main-page{
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Divide the main container into two columns */
  overflow: hidden; /* Hide the overflow for the main container */
  height: 100%; /* Fill the entire height of the container */
  /* margin-top: 60px; */
  
}

/* Sidebar styles */
.side-page {
  background-color: #f2f2f2;
  overflow-y: auto; /* Enable vertical scrolling for the sidebar */
  max-height: 100vh; /* Limit the sidebar height to the viewport height */
}

/* Map container styles */
.map-container {
  position: relative; /* For positioning child elements */
  background-color: #ddd; /* Adjust as needed */
  height: 100vh;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  flex: 1;
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
